<div  >
<h2>Recent events</h2>
<ul>
<li data-ng-repeat="event in events">
<time style="width:20em">{{event.created | fromNow}}</time>
<span class="label  label-info">{{event.eventname}}</span>
<a href="#/users/{{event.userid}}"  class="label">{{event.username}}</a>
<span class="label">{{event.item}}</span>
</li>
</ul>
</div>