<div  >
<h2>Recent events</h2>
<ul>
<li data-ng-repeat="event in events">
<time style="width:20em">{{event.created | fromNow}}</time>
<span class="label  label-info">{{event.eventname}}</span>
<span class="label">{{event.userid}}</span>
<span class="label">{{event.username}}</span>

<span class="label">{{event.username}}</span>
</li>
</ul>
</div>