<div  xmlns:ng="http://angularjs.org"  >
<div class="row">
      <div class="span3 bs-docs-sidebar">
      {{auth.getName()}}
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#"><i class="icon-chevron-right"></i> Profile</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i> Account Settings</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i> Emails</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i> HTML template</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i> Examples</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i> What next?</a></li>
        </ul>
      </div>
      <div class="span9">
	Profile TBD...
	{{auth.getName()}}
	</div>
</div>