<div id="features" class="row" ng:init="setWindowTitle('Thumbnails')">
		<ul class="thumbnails" ng-controller="WineListCtrl" style="margin-left:20px">
			<li class="span3" ng-repeat="wine in wines">
			<a href="#/wines/{{ wine.id }}" class="thumbnail plain">
			    <img src="http://placehold.it/125x150" height="150" width="125" alt="">
			    <h5>{{ wine.name }}</h5>
			    <p>{{ wine.year }} {{ wine.grapes }}<br/>
			    <i class="icon-globe"></i>  region ,  country </p>
			</a>		
			</li>		
		</ul>
	<!--/span-->
</div>
<!--/row-->

